{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "eslintIntegration": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "es5"
}
